<% if ((current_user != "") && (current_user != nil) ) %>
    <%= form_tag create_list_movie_path, method: :post %>
            <div class="form-group">
              <% if @lists != nil %>
                <%= select_tag "list_id", options_from_collection_for_select(@lists, "id", "title"), prompt: "Add movie to a list" %>
              <% end %>

            <%= hidden_field_tag :movie_id, @movie.id %>

            <%= button_tag(type: "submit", class: "btn btn-default") do %>
                <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          </div>
    </form>
<% end %>

