

<div class="container">
    <div class="row">
        <h2 class="text-center">Edit Profile</h2>
        <br>
        <%= render 'form', user: @user %>

        <%= link_to 'Return to Profile', @user %>
        <br>
        <br>

        <div class="pull-right">
            <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
</div>
