// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-body {
    height: 390px;
    width: 670px;
}

.modal-content {
    position: relative;
    border: 0px;
    border: 0px ;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.iframe-modal {
  position: relative;
  margin-left: 15%;
}

.index-movie {
    padding: 20px;
}